3/27, 5:00p - 6:30p, Matthew, Prajit, Garrett, 1.5 hours
Drive Order and Time Length:
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes

3/29, 2:00p - 4:00p, Matthew, Prajit, Garrett, 2 hours
Drive Order and Time Length:
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes

3/30, 5:00p - 6:00p, Matthew, Prajit, Garrett, 1 hour
Drive Order and Time Length:
Matthew, 30 minutes
Prajit, 30 minutes

4/5, 4:00p - 5:30p, Matthew, Prajit, Garrett, 1.5 hours
Drive Order and Time Length:
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes

4/6, 2:00p - 4:00p, Matthew, Prajit, Garrett, 2 hours
Drive Order and Time Length:
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes

4/7, 4:00p - 6:00p, 9:00p - 10:30p, Matthew, Prajit, Garrett, 3.5 hours
Drive Order and Time Length:
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes

4/9, 2:00p - 5:00p, Matthew, Prajit, Garrett, 3 hours
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes

4/11, 4:00p - 5:30p, Matthew, Prajit, Garrett, 1.5 hours
Drive Order and Time Length:
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes

4/12, 3:00p - 1:30a, Matthew, Prajit, Garrett, 10.5 hours
Drive Order and Time Length:
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes
Prajit, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Garrett, 30 minutes

4/13, 3:30p - 3:30a, Matthew, Garrett, Prajit, 12 hours
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
Garrett, 30 minutes
Matthew, 30 minutes
Prajit, 30 minutes
